#content {
   /* margin: auto; */
   margin-top: 5%;
   padding: auto;
   width: 70%;
}

button {
   font-size: 2em;
   border-radius: 25px;
   width: 20%;
   border-color: lightcoral;
   color: rgb(129, 7, 7);
   background-color: lightcoral;
}